html {
  margin: 6px 6px 6px 6px;
  padding: 0px 0px 0px 0px;
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

main {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

article {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h1 {
    font-family: itc-american-typewriter, serif;
    font-size: 36pt;
    font-weight: 500;
    font-style: normal;
    line-height: 36pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }
  
  h2 {
    font-family: itc-american-typewriter, serif;
    font-size: 28pt;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

  h3 {
    font-family: itc-american-typewriter, serif;
    font-size: 22pt;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  h4 {
    font-family: itc-american-typewriter, serif;
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  p {
    font-family: itc-american-typewriter, serif;
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 72pt;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 18pt;
    word-wrap: break-word;
  }
  
  li {
    font-family: itc-american-typewriter, serif;
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    line-height: 14pt;
  }
  
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
  .navlinks {
    font-family: itc-american-typewriter, serif;
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 14pt;
    word-wrap: break-word;
  }

  .logo {
    font-family: itc-american-typewriter, serif;
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 14pt;
    word-wrap: break-word;
  }

  .footer {
    font-family: itc-american-typewriter, serif;
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin: 0pt 0pt 0pt 0pt;
    padding: 72pt 0pt 0pt 0pt;
    line-height: 18pt;
    word-wrap: break-word;
    text-align: center;
  }

/** local links (green) **/

  .green:link {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
  }
  
  .green:hover {
    color: #64bc2a;
    background-color: yellow; 
    text-decoration: none;
  }
  
  .green:visited {
    color: #64bc2a;
    background-color: none; 
    text-decoration: none;
  }
  
  .green:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #0081ff;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:hover {
    color: #0081ff;
    background-color: yellow; 
    text-decoration: none;
  }
  
  .blue:visited {
    color: #0081ff;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:active {
    color: #ff0000;
    background-color: yellow; 
    text-decoration: none;
  }
  

  
/** email link **/
  .email:link {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:hover {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:visited {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .email:active {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
/** images **/

.img {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: contain;
}

.gallery {
  max-width: 100%;
  margin-top: 14pt;
}

  .stamp {
    position: absolute;
    top: 30pt;
    left: 92pt;
    pointer-events: none;
    border: solid 2px transparent;
  }
  
  #stampcanvas {
    position: absolute;
    top: 0pt;
    left: 0pt;
    pointer-events: none;
    border: solid 2px;
  }
  
  #redstamp {
    transform: rotate(107deg);
  }